@model ProductsWebApp.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center" g-5 py-5>
        <div class="col-12 col-lg-6"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Products Storage
            </h1>
            <p class="lead">
                ProductsWebApp is the home to many different products. Join us and see which of them catch your eye!
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 alt="ProductsWebAppImage" 
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 d-flex">
            @if (Model != null && Model.Categories.Any())
            {
                foreach (var category in Model.Categories)
                {
                    <span class="badge bg-dark me-1">
                        @category.Name
                    </span>
                }
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.Products.Any())
            {
                foreach (var product in Model.Products)
                {
                    <div class="mb-5 bg-light box-shadow p-5"> 
                        <h2 class="mb-4">@product.Title</h2>

                        <img src="@product.ImageUrl" alt="@product.Title" 
                            class="mb-4 d-block img-fluid"/>

                        <p class="mb-4">
                            @foreach (var category in product.Categories)
                            {
                                <span class="badge bg-secondary me-1">@category.Name</span>
                            }
                        </p>

                        <p class="mb-4">
                            Published Date: @product.CreationDate.ToShortDateString()
                        </p>

                        <a class="btn btn-dark" asp-area="" 
                                                asp-controller="Products"
                                                asp-action="Index"
                                                asp-route-id="@product.Id"
                                                >Read More</a>
                    </div>
                }
            }

        </div>
    </div>
</div>
