@model ProductsWebApp.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- informacje o aplikacji -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center" g-5 py-5>
        <div class="col-12 col-lg-6"> 
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Products Storage
            </h1>
            <p class="lead">
                ProductsWebApp is the home to many different products. Join us and see which of them catch your eye!
            </p>

            <!-- filtrowanie po kategorii - combobox -->
            <div class="row justify-content-start mb-3">
                <div class="col-12">
                    <label for="categorySelect" class="form-label">Select a Category:</label>
                    <select id="categorySelect" class="form-select" onchange="location = this.value;">
                        <option value="@Url.Action("Index", "Home")" selected="@(Model.SelectedCategoryName == "All Categories")">All Categories</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@Url.Action("Index", "Home", new { categoryId = category.Id })" selected="@(Model.SelectedCategoryName == category.Name)">
                                @category.Name
                            </option>
                        }
                    </select>
                </div>
            </div>

            <!-- wyszukiwanie po nazwie -->
            <div class="row justify-content-start">
                <div class="col-12">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                    {
                        <div class="mb-3">
                            <label for="searchString" class="form-label">Search:</label>
                            <div class="input-group">
                                @Html.TextBox("searchString", Model.SearchString, new { @class = "form-control", placeholder = "Search for products..." })
                                <button type="submit" class="btn btn-outline-primary">Search</button>
                            </div>
                        </div>
                    }
                </div>
            </div>


        <!-- zdjecie -->
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                 alt="ProductsWebAppImage" 
                 class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>

<!-- wyswietlenie produktow -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.Products.Any())
            {
                foreach (var product in Model.Products)
                {
                    <div class="mb-5 bg-light box-shadow p-5"> 
                        <h2 class="mb-4">@product.Title</h2>

                        <img src="@product.ImageUrl" alt="@product.Title" 
                            class="mb-4 d-block img-fluid"/>

                        <p class="mb-4">
                            @foreach (var category in product.Categories)
                            {
                                <span class="badge bg-secondary me-1">@category.Name</span>
                            }
                        </p>

                        <p class="mb-4">
                            Published Date: @product.CreationDate.ToShortDateString()
                        </p>

                        <a class="btn btn-dark" asp-area="" 
                                                asp-controller="Products"
                                                asp-action="Index"
                                                asp-route-id="@product.Id"
                                                >Read More</a>
                    </div>
                }

                <div class="text-center">
                    @if (Model.PageNumber > 1)
                    {
                        <a class="btn btn-secondary" asp-action="Index" asp-route-page="@(Model.PageNumber - 1)">Previous</a>
                    }

                    @for (int i = 1; i <= Model.TotalProducts / Model.PageSize + 1; i++)
                    {
                        <a class="btn btn-primary @(i == Model.PageNumber ? "active" : "")" asp-action="Index" asp-route-page="@i">@i</a>
                    }

                    @if (Model.PageNumber < Model.TotalProducts / Model.PageSize + 1)
                    {
                        <a class="btn btn-secondary" asp-action="Index" asp-route-page="@(Model.PageNumber + 1)">Next</a>
                    }
                </div>
            }

        </div>
    </div>
</div>

